* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10px;
}

.logo {
  cursor: pointer;
  margin-left: 30px;
  padding-top: 15px;
}

.logo {
  width: 5%;
  height: 5%;
}

.logo-div p {
  margin: 15px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-family: "Roboto Mono", monospace;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_links {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: pink;
}

.hero-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700px;
  text-transform: uppercase;
}

.container h1 {
  font-size: 72px;
  letter-spacing: 0.2em;
  margin: 0;
}

.container h1 span {
  border: 10px solid white;
  padding: 6px 14px;
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-size: em;
}

.hero-sm-text {
  margin: 20px;
  display: block;
  text-shadow: 0 0 10px white;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.btn-cta {
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background: black;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: pink;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  /* display: grid; */
  /* grid-template-rows: repeat(auto-fit, mimax(240px, 1fr)); */
  /* justify-content: center;
  grid-auto-rows: 100px;
  grid-gap: 20px; */
}

.grid-pbox {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

img {
  width: 400px;
  height: auto;
}
/* body content font */
/* font-family: "Nanum Gothic", sans-serif; */
